:root {
	--blue-terminal: #0071eb;
	--white: #ffffff;
	--green-forest: #054f21;
	--green-cyan: #c5ffc6;
	--mirage-black: #001536;
	--grey: #576680;
	--grey-disabled: #979797;
	--light-grey: #e8e8e8;
}

*:not(dialog) {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "DM Sans", sans-serif;
	color: var(--mirage-black);
	background-color: var(--white);
}

header {
	padding: 18px 32px;
}

main {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

footer {
	display: flex;
	padding: 18px 38px;
	flex-direction: column;
	align-items: start;
	gap: 22px;
}

img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}

input {
	border: none;
	background-color: var(--white);
	color: var(--mirage-black);
}

input,
button {
	font-family: inherit;
}

ul,
li {
	padding: 0;
}

li {
	margin-block: 12px;
	font-weight: bold;
	list-style: none;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: underline;
}

nav {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	gap: 8px;
}

p {
	font-weight: 600;
	font-size: 1rem;
}

h1 {
	font-family: "Encode Sans", sans-serif;
	font-weight: 900;
	font-size: 3.375rem;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 92.7;
}

h2 {
	font-weight: bold;
	font-size: 2.375rem;
}

h3 {
	font-family: "Encode Sans", sans-serif;
	font-weight: 900;
	font-size: 1.625rem;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 92.7;
}

h6 {
	font-weight: bold;
	font-size: 0.875rem;
}

dialog {
	border: none;
	border-radius: 12px;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.6);
}

input {
	padding: 8px 0px;
}

input::placeholder {
	color: var(--grey-disabled);
}

.bold {
	font-weight: bold;
}

.text-green-forest {
	color: var(--green-forest);
}

.text-blue-terminal {
	color: var(--blue-terminal);
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 16px;
	border: none;
	color: var(--white);
	background-color: var(--blue-terminal);
	border-radius: 999px;
	font-weight: bold;
	cursor: pointer;
}

.btn.btn-outlined {
	color: var(--blue-terminal);
	background-color: var(--white);
	border: 2px solid currentColor;
}

.btn.btn-block {
	width: 100%;
}

.btn-hidden {
	display: none;
}

.text-grey {
	color: var(--grey) !important;
}

.nav-append {
	display: flex;
	gap: 12px;
	justify-content: center;
	align-items: center;
}

.hero {
	display: grid;
	padding: 56px 32px;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 10px;
}

.hero-title {
	align-self: center;
}

.hero-img {
	border-radius: 24px;
}

.sncf {
	padding: 12px 32px;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.sncf-card {
	display: flex;
	padding: 24px 48px;
	flex-direction: column;
	background-color: var(--green-cyan);
	color: var(--green-forest);
	border-radius: 16px;
	gap: 10px;
	width: 100%;
}

.sncf-card-description {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 48px 32px;
}

.search-form {
	display: grid;
	grid-template-columns: auto;
	grid-template-areas:
		"departure"
		"arrival"
		"submit";
	border: 2px solid var(--blue-terminal);
	border-radius: 16px;
	overflow: hidden;
	width: 100%;
}

.search-label {
	display: flex;
	padding: 20px 24px;
	flex-direction: column;
	gap: 12px;
	color: var(--grey);
}

.search-input {
	width: 100%;
}

.search-btn {
	background-color: var(--blue-terminal);
	color: var(--white);
	padding: 24px 48px;
	width: 100%;
}

.search-label-departure {
	grid-area: departure;
}

.search-label-arrival {
	grid-area: arrival;
}

.search-btn-submit {
	grid-area: submit;
	border-radius: 0;
}

.trips {
	display: flex;
	padding: 48px 32px;
	flex-direction: column;
	background-color: var(--light-grey);
	gap: 32px;
}

.trips-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 10px;
}

@keyframes slidein {
	from {
		transform: scale(0) translateY(-250px);
	}

	to {
		transform: scale(1) translateY(0px);
	}
}

.trips-card {
	display: grid;
	grid-template-rows: auto auto;
	border-radius: 16px;
	overflow: hidden;
	background-color: var(--white);
	animation: 250ms ease-in-out slidein;
	display: none;
}
.trips-card2 {
	display: grid;
	grid-template-rows: auto auto;
	border-radius: 16px;
	overflow: hidden;
	background-color: var(--white);
	animation: 250ms ease-in-out slidein;
}
.trips-card-content {
	display: flex;
	padding: 24px 32px;
	flex-direction: column;
	gap: 32px;
}

.trips-card-img {
	width: 100%;
}

.trips-card-route,
.trips-card-append {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trips-card-routing {
	display: flex;
	gap: 10px;
}

.trips-card-cities,
.trips-card-duration,
.trips-card-price {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.trips-card-price span {
	display: flex;
	gap: 2px;
}

.trips-card-append {
	display: flex;
	justify-content: space-between;
}

.trips-card-content hr {
	width: 100%;
	background-color: var(--light-grey);
	height: 2px;
	border: none;
}

.trips-btn {
	padding: 16px;
}

.footer-icon {
	display: flex;
	align-items: center;
	gap: 12px;
}

.trips-form {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.trips-form hr {
	width: 1px;
	height: 100%;
}

.trips-form-grid {
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	gap: 24px;
}

.trips-form-label,
.trips-form-label-row {
	display: flex;
	gap: 8px;
}

.trips-form-label {
	flex-direction: column;
}

.trips-form-label input[type="number"] {
	padding: 8px 12px;
	color: var(--grey-disabled);
	background-color: var(--light-grey);
}

.trips-form-label-end {
	align-self: end;
}

input[type="number"].trips-form-input-price {
	justify-self: end;
}

@media screen and (min-width: 768px) {
	nav {
		flex-direction: row;
		justify-content: space-between;
	}

	ul {
		display: flex;
		gap: 12px;
	}

	.hero {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	.sncf-card {
		flex-direction: row;
		justify-content: space-between;
	}

	.search-form {
		grid-template-areas:
			"departure arrival"
			"submit submit";
	}

	.trips-list {
		grid-template-columns: 1fr 1fr;
	}

	footer {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media screen and (min-width: 1024px) {
	.search-form {
		grid-template-areas: "departure departure arrival arrival submit";
	}

	.trips-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
